@import '@assets/scss/variables';
@import '@assets/scss/mixins';

.formError {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 4px;

  width: 100%;

  .title {
    overflow: hidden;

    font-size: 14px;
    line-height: 16px;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: $error;
  }
}
